:root {
    --background1:rgb(30, 27, 15);
    --background2:rgb(52, 47, 32);
    --background3:rgb(80, 74, 57);
    --background4:rgb(112, 107, 81);
    --foreground1:rgb(135, 129, 103);
    --foreground2:rgb(151, 143, 120);
    --no: #74bf85;
    --yes: #ff7485;
    --font: #f5efce;
}

*, ::before, ::after {
    margin: 0;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

p, h3, a, button {
    color: var(--font);
}

p {
    font-size: 16px;
}

body {
    background: linear-gradient(90deg, var(--background1), var(--background2));
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:80%;
    height:100%;
    margin: 2% 2%;
    justify-content: space-around;
    gap: 5px;
}

.item {
    width: 90%;
    height: 320px;
    margin-bottom: 20%;
    background-color: var(--background3);
    margin: 10px;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: -16px 18px 29px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 18px 29px 9px rgba(0,0,0,0.75);
    box-shadow: -16px 18px 29px 9px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.header {
    height: 50px;
    width: 100%;
    margin:0;
    border-radius: 20px 20px 0 0 ;
    background-color: var(--background2);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header p {
    margin: 15px;
}

.title {
    font-size: larger;
}

.tool-button:hover, .tab:hover, .icon-tab:hover, .check:hover {
    background-color: var(--foreground1);
}

.navigation {
    display:flex;
    flex-direction: row;
    width:45%;
    margin-right:5%;
    height:100%;
    align-items:start;
    justify-content: space-between;
}

.tab {
    padding: 14px 16px;
    border-radius: 0 0 20px 20px;
    width: 10vw;
}

.tab, .icon-tab, .spec-tab, .check, .tool-button {
    height: 90%;
    font-size: larger;
    /* margin-right: 100%; */
    background-color: var(--background4);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.spec-tab {
    width:100%;
}

.icon-tab {
    width:100%;
}

.contents {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    overflow: hidden;
}

.icon {
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    outline-color: var(--background1);
    border:5px solid var(--background1);
    background-color: var(--background2);
    overflow: hidden;
}


.weapon-icon {
    display:none;
    height:190px;
    overflow: hidden;
}

.icon-navigation {
    position:relative;
    display:flex;
    flex-direction: row;
    height:15%;
    width:100%;
}

.main-content {
    width: 75%;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: inherit;
}

.tabcontent {
    width:90%;
    height:90%;
    color: var(--font);
    justify-content: center;
    text-align: justify;
    overflow: hidden;
}

.loc, .specs, .story {
    max-width:80%;
    display:none;
    overflow: inherit;
    overflow-y: scroll;
    padding-right: 15px;
}

.loc {
    flex-direction: column;
    justify-content: space-between;
}

.loc-images {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loc-images img {
    max-width: 30%;
}

.specs {
    display: flex;
    flex-direction: column;
    font-size: larger;
    justify-content: space-between;
}

.spec-rows {
    display: flex;
    justify-content: space-between;
}

.weapon-specs, .weapon-magic {
    display:none;
}

.spec-level-navigation {
    display:flex;
    height:30px;
    width: 50%;
}

.active {
    background-color: var(--foreground2);
}

.checkbar {
    height:100%;
    width:10%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.check {
    background-color: var(--foreground1);
    border: 2px solid var(--background1);
    width: 3vh;
    height: 3vh;
    margin:10px;
    border-radius: 15%;
}

.checked {
    background-color: var(--background2);
}

.level-1 {
    display:block
}

#toolbar {
    position: fixed;
    right: 0;
    background-color: var(--background3);
    height: 100%;
    width: 23vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tool-button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

.button-panel {
    height: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#input-output {
    width: 250px;
    height: 250px;
    overflow-y: scroll;
}

